.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  display: flex;
  gap: 6rem;
  position: absolute;
  bottom: -100px;
  animation: navbar-animation 2s forwards;
}

.nameBox {
  position: absolute;
  top: -100px;
  animation: nameBox-animation 2s forwards;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  position: relative;
}

@keyframes navbar-animation {
  to {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

@keyframes nameBox-animation {
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: orange;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}
