.main {
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  min-height: 100vh;
  padding-left: 10%; /* Control how far from the left edge */
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.nameBox {
  position: relative;
  z-index: 1; /* Ensure the name is on top of the navbar */
  animation: nameBox-animation 2s forwards; /* Animation for nameBox */
}

.navbar {
  display: flex;
  gap: 3rem;
  margin-top: 10px; /* Space between name and navbar */
  position: relative;

  animation: navbar-animation 2s forwards; /* Animation for navbar */
}

.link {
  color: #000;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800;
  position: relative;
}

@keyframes navbar-animation {
  from {
    transform: translateY(300px); /* Start from below */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End at original position */
    opacity: 1;
  }
}

@keyframes nameBox-animation {
  from {
    transform: translateY(-300px); /* Start from above */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End at original position */
    opacity: 1;
  }
}

.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: orange;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: orange;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}
